<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="POST">
        {% csrf_token %}

        <label for="wn">Webpage_Name</label>

        <select name="wn" id="wn" multiple>

            {% for wo in webpages %}
                <option value="{{wo.pk}}">{{wo.name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="enter">
    </form>
</center>
</body>
</html>